* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

.container {
  /* border: 1px solid red; */
  width: 100vw;
}

.center__title {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 60px;
  padding: 20px;
  max-width: 600px;
}

.information {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 50px;
}

.player__container #playerScore,
.cpu__container #cpuScore {
  text-align: center;
  padding-bottom: 10px;
}

.dash__container {
  border-left: 1px solid black;
}

.result {
  text-align: center;
  font-size: 25px;
  height: 30px;
}

#playerChoice,
#cpuChoice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  font-size: 60px;
  border: 2px solid black;
  border-radius: 10px;
}

#rock,
#paper,
#scissors {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  width: 200px;
  height: 90px;
  font-size: 40px;
}

.choices {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.enabled {
  cursor: pointer;
  transition: opacity 0.15s, background-color 0.15s;
}

.enabled:active {
  opacity: 0.6;
}

.enabled:hover {
  background-color: red;
}

.resetGame {
  text-align: center;
  height: 60px;
}

.visible {
  font-size: 23px;
  cursor: pointer;
  margin-top: 4px;
  border: 2px solid black;
  border-radius: 10px;
  width: 120px;
  height: 50px;
}

.visible:hover {
  background-color: red;
}

.notVisible {
  display: none;
}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 40px;
  }

  .information {
    padding-top: 30px;
  }

  #playerChoice,
  #cpuChoice {
    width: 120px;
    height: 120px;
  }

  .result {
    font-size: 18px;
  }

  #rock,
  #paper,
  #scissors {
    font-size: 17px;
    width: 90px;
    height: 50px;
  }

  .visible {
    font-size: 17px;
    width: 90px;
    height: 50px;
  }
}

@media only screen and (max-width: 768px) {
  #rock,
  #paper,
  #scissors {
    font-size: 17px;
    width: 120px;
    height: 50px;
  }

  .visible {
    font-size: 17px;
    width: 120px;
    height: 50px;
  }
}
