* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

.container {
  border: 1px solid red;
  width: 100vw;
}

.title {
  text-align: center;
  font-size: 70px;
  padding: 20px;
}

.information {
  display: flex;
  gap: 20px;
  padding: 40px;
  justify-content: center;
}

.player__container #playerScore,
.cpu__container #cpuScore {
  text-align: center;
  padding-bottom: 10px;
}

#playerChoice,
#cpuChoice,
#rock,
#paper,
#scissors {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  width: 140px;
  height: 140px;
  font-size: 70px;
}

.choices {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

#rock,
#paper,
#scissors {
  cursor: pointer;
  transition: opacity 0.15s, background-color 0.15s;
}

#rock:active,
#paper:active,
#scissors:active {
  opacity: 0.6;
}

#rock:hover,
#paper:hover,
#scissors:hover {
  background-color: red;
}
